<% content_for :title, 'Groups' %>

<table class='table groups'>
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'exceptions_count', 'Count' %></th>
      <th><%= sortable 'most_recent_exception', 'Last' %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr <%= 'class="warning"' if group.notify? %>>
        <td><%= link_to group.name, group %></td>
        <td>
          <span class="badge"><%= group.exceptions_count %></span>
        </td>
        <td style="white-space: nowrap;"><%= group.most_recent_exception.nil? ? 'None' : format_time_ago(Time.parse(group.most_recent_exception + " UTC")) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @groups %>