<% content_for :title, "Group: #{@group.name}" %>

<h4>
  <%= @group.name %>
</h4>

<hr/>

<% if @stored_exception %>

  <span>
    <b>First seen</b> <%= format_time(@group.stored_exceptions.first.created_at) %>
  </span>

  <span>
    <b>Last seen</b> <%= format_time(@stored_exception.created_at) %>
  </span>

  <span>
    <b>Number</b> <%= @group.stored_exceptions.count %>
  </span>

  <hr/>


  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">Backtrace</a>
    </li>
    <li><a href="#">Exceptions</a></li>
    <li><a href="#">...</a></li>
  </ul>
  
  <%= render partial: "exception_canary/stored_exceptions/backtrace" %>
  
<% else %>
  <p>No exceptions in this group</p>
<% end %>

<%= @group.stored_exceptions.first.try(:inspect)%>