<% content_for :title, "Stored Exception: #{@stored_exception.title}" %>

<h4>
  <%= link_to(group_id(@stored_exception.group_id), @stored_exception.group)%> 
  <%= @stored_exception.title %>
</h4>


<ul class="nav nav-tabs">
  <li class="active"><a href="#backtrace" data-toggle="tab">Backtrace</a></li>
  <li><a href="#data" data-toggle="tab">Data</a></li>
  <li><a href="#environment" data-toggle="tab">Environment</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="backtrace">
    <%= render partial: "backtrace"%>
  </div>
  <div class="tab-pane" id="data">
    <%= render partial: "variables", locals: {variables: @stored_exception.variables[:request]} %>
    <%= render partial: "variables", locals: {variables: @stored_exception.variables[:data]} %>
    <%= render partial: "variables", locals: {variables: @stored_exception.variables[:server]} %>
  </div>
  <div class="tab-pane" id="environment">
    <%= render partial: "variables", locals: {variables: @stored_exception.variables[:env]} %>
  </div>
</div>
