<!DOCTYPE html>
<html>
  <head>
    <title>ExceptionCanary | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    'exception_canary/application', media: 'all' %>
    <%= javascript_include_tag 'exception_canary/application' %>
    <%= csrf_meta_tags %>
  </head>
<body class='exception-canary'>
  <ul class="nav nav-pills">
    <li class="active">
      <%= link_to("Dashboard", groups_path) %>
    </li>
    <li>
      <%= link_to("Groups", groups_path) %>
    </li>
    <li>
      <%= link_to("Exceptions", stored_exceptions_path) %>
    </li>
  </ul>
  
    <% if flash[:notice] %>
      <div class='alert alert-success'><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
</body>
</html>
